{{ $featured := "" }}


{{ $images := .Resources.ByType "image" }}
{{ range slice  "*feature*" "*background*" "*cover*" "*thumbnail*" }}
    {{ if not $featured }}{{ $featured = $images.GetMatch .  }}{{ end }}
{{ end }}


{{ with $featured }}
    <div
        id="hero-background"
        class="hero-canvas-fade fixed inset-x-0 top-0 h-[800px] single_hero_background nozoom -z-50">
        
        <img
            id="background-image"
            src="{{ .RelPermalink }}"
            role="presentation"
            loading="eager"
            decoding="async"
            fetchpriority="high"
            class="absolute inset-0 w-full h-full object-cover"
        />
        <div class="absolute inset-0 bg-neutral/60 dark:bg-neutral-800/50"></div>
    </div>
{{ end }}