{{ $featured := "" }}

{{ $images := .Resources.ByType "image" }}

{{/* Check if the 'cover' property is set in front matter */}}
{{ if .Params.cover }}
  {{ $featured = $images.GetMatch (printf "*%s*" .Params.cover) }}
{{ end }}

{{ range slice  "*feature*" "*background*" "*cover*" "*thumbnail*" }}
    {{ if not $featured }}{{ $featured = $images.GetMatch .  }}{{ end }}
{{ end }}


{{ with $featured }}
    {{ if reflect.IsImageResourceProcessable $featured }}
    {{ with .Resize "120x" }}
        <img src="{{ .RelPermalink }}"
            role="presentation"
            loading="lazy"
            decoding="async"
            fetchpriority="low"
            class="item-img aspect-square px-3 py-3 rounded-full object-cover" />
    {{ end }}
    {{ else }}
        <img src="{{ .RelPermalink }}"
            role="presentation"
            loading="lazy"
            decoding="async"
            fetchpriority="low"
            class="item-img aspect-square px-3 py-3 rounded-full object-cover" />
    {{ end }}
{{ end }}