{{ if .Site.Params.showCategoriesMenu }}
<div>
  
  <div class="menu-text font-bold mt-3 p-3 text-base">CATEGORIES</div>

  <ul class="space-y-2"></ul>
    {{ $allCategories := .Site.Taxonomies.categories }}
    {{ range $category, $pages := $allCategories }}
      <li>
        <a href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}/" class="text-primary hover:underline text-sm">
          {{ $category }} ({{ len $pages }})
        </a>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}