<div class="flex flex-col">
    <div class="flex items-center">
        <button id="appearance-switcher" class="flex p-3 w-12" aria-label="Dark mode switcher">
            <div class="flex items-center justify-center dark:hidden">
                {{ partial "icon" "moon" }}
            </div>
            <div class="items-center justify-center hidden dark:flex w-full">
                {{ partial "icon" "sun" }}
            </div>
        </button>
        <span class="menu-text text-base flex items-center justify-center p-3">
            Theme
        </span>
    </div>

    <div class="flex items-center">
        <input id="list-colums-number" min="1" max="12" value="{{ .Site.Params.usersettings.gridColumnNumber }}" type="number" class="flex p-3 w-12" required />
        <span class="menu-text text-base flex items-center justify-center p-3">
            Columns Number
        </span>
    </div>
</div>