<div id="my-grid" class="grid" >
  {{ range .Pages}}
  
  <article class="@container/item-list item-container bg-background-card rounded-lg m-1 relative">
        <div class="h-full item-link flex flex-col @[320px]/item-list:flex-row">    
            <a href="{{ if eq .Site.Params.usersettings.imageLink "external" }}{{ .Params.source }}{{ else }}{{ .RelPermalink }}{{ end }}" 
                {{if eq .Site.Params.usersettings.imageLink "external"}}target="_blank"{{ end }}
                class="flex justify-center items-center min-w-[120px]">
            {{ $imageName := .Params.cover }}
            {{ with .Resources.GetMatch $imageName }}
            {{ with .Resize "120x" }}
            <img src="{{ .RelPermalink }}"
                role="presentation"
                loading="lazy"
                decoding="async"
                fetchpriority="low"
                class="item-img aspect-square px-3 py-3 rounded-full object-cover" />
            {{ end }}
            {{ end }}
            </a>

            <div class="flex flex-col w-full h-full">
                <div class="flex flex-col @[480px]/item-list:flex-row py-3 pr-3">
                    <!-- TITLE -->
                    <a href="{{ .RelPermalink }}" class="item-title px-3 pt-3 pb-1 text-m font-semibold text-primary min-w-32 max-w-64 truncate">
                        {{ .Title }}
                    </a>

                    <!-- TAGS -->
                    <span class="ml-3 @[480px]/item-list:ml-auto">
                        {{ if .Params.tags }}
                            <div class="flex flex-wrap gap-1">
                            {{ $tags := .Params.tags }}
                            {{ if reflect.IsSlice $tags }}
                                {{ range $tags }}
                                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/" class="text-xs bg-secondary text-base px-2 py-1 rounded max-w-32 truncate">{{ . }}</a>
                                {{ end }}
                            {{ else }}
                                {{ range split $tags "," }}
                                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/" class="text-xs bg-secondary text-base px-2 py-1 rounded max-w-32 truncate">{{ . }}</a>
                                {{ end }}
                            {{ end }}
                            </div>
                        {{ end }}
                    </span>
                </div>
                <a href="{{ .Params.source }}" target="_blank" class="item-tags text-muted px-3 py-2 text-xs truncate border-t border-background mt-auto mb-1">
                    <!-- EXTERNAL LINK -->
                    <span>
                    {{ with .Params.source }}
                        {{ $domain := replaceRE "^(?:.*://)?([^/]+).*" "$1" . }}
                        {{ $domain }}
                    {{ end }}
                    </span>
                    
                </a>

            </div>
        
        </div>
    </article>

  {{ end }}
</div>