<div class="space-y-4">
    {{ range .Pages }}
    <article class="item-container bg-background-card rounded-lg m-1 relative">
        <div href="{{ .RelPermalink }}" class="item-link flex">        
            <a href="{{ .RelPermalink }}">
            {{ $imageName := .Params.cover }}
            {{ with .Resources.GetMatch $imageName }}
            <img src="{{ .RelPermalink }}"
                role="presentation"
                loading="lazy"
                decoding="async"
                fetchpriority="low"
                class="item-img max-h-24 max-w-24 aspect-square px-3 py-3 rounded-full object-cover" />
            {{ end }}
            </a>

            <div class="flex flex-col w-full">
                <div class="py-3 pr-3">
                    <!-- TITLE -->
                    <a href="{{ .RelPermalink }}" class="item-title px-3 pt-3 pb-1 text-m font-semibold text-primary max-w-32 truncate">
                        {{ .Title }}
                    </a>

                    <!-- TAGS -->
                    <span class="float-right">
                        {{ if .Params.tags }}
                            <div class="flex flex-wrap gap-1">
                            {{ $tags := .Params.tags }}
                            {{ if reflect.IsSlice $tags }}
                                {{ range $tags }}
                                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/" class="text-xs bg-secondary text-base px-2 py-1 rounded">{{ . }}</a>
                                {{ end }}
                            {{ else }}
                                {{ range split $tags "," }}
                                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/" class="text-xs bg-secondary text-base px-2 py-1 rounded">{{ . }}</a>
                                {{ end }}
                            {{ end }}
                            </div>
                        {{ else }}
                            <p class="text-sm text-gray-600">tags</p>
                        {{ end }}
                    </span>
                </div>
                <div class="item-tags text-muted px-3 py-2 text-xs truncate border-t border-background">
                    <!-- EXTERNAL LINK -->
                    <a href="{{ .Params.source }}" target="_blank">
                    {{ with .Params.source }}
                        {{ $domain := replaceRE "^(?:.*://)?([^/]+).*" "$1" . }}
                        {{ $domain }}
                    {{ end }}
                    </a>
                    <!-- DATE -->
                    <span class="float-right">{{ .Params.date | time.Format "Jan 2, 2006" }}</span>
                </div>

            </div>
        
        </div>
    </article>
    {{ end }}
</div>