<div id="navbar-buttons" class="flex">    
    {{ if .Site.Params.showCategoriesMenu }}
    <button id="openCategories" class="p-3 w-full">
        <a href="/categories" class="flex items-center justify-center">
            {{ partial "icon" "categories" }}
        </a>
    </button>
    {{ end }}
    {{ if .Site.Params.showTagsMenu }}
    <button id="openTags" class="p-3 w-full">
        <a href="/tags" class="flex items-center justify-center">
            {{ partial "icon" "tag" }}
        </a>
    </button>
    {{ end }}

    <button id="openSearch" class="p-3 w-full">
        <div class="flex items-center justify-center">
            {{ partial "icon" "search" }}
        </div>
    </button>
    
    <button id="openSettings" class="p-3 w-full">
        <div class="flex items-center justify-center">
            {{ partial "icon" "settings" }}
        </div>
    </button>
</div>